    <% if (typeof league !== 'undefined' && typeof calendar !== 'undefined') { %>
        <div class="result-container">
            <% calendar.matchData.forEach(tour => { %>
                <div class="tour-container">
                    Тур: <%= tour.tour %>
                </div>
                <% tour.matches.forEach(match => { %>
                    <div class="match-container">
                        <div class="match-info">
                            <span class="home-info">
                                <span><%= match.homeTeam.name %></span>
                                <img class="team-logo" src="<%= match.homeTeam.crest %>" alt="Team Crest">
                            </span>
                            <div class="score <%= (match.status === 'IN_PLAY' || match.status === 'PAUSED') ? 'highlight' : '' %>">
                                <%= match.status === 'SCHEDULED' || match.status === 'TIMED' ? '- : -' : (match.score.fullTime.home + ' : ' + match.score.fullTime.away) %>
                            </div>                            
                            <span class="away-info">
                                <img class="team-logo" src="<%= match.awayTeam.crest %>" alt="Team Crest">
                                <span><%= match.awayTeam.name %></span>
                            </span>
                        </div>
                    </div>
                <% }); %>
            <% }); %>
        </div>
    <% } else { %>
        <p>No scheduled matches available.</p>
    <% } %>
